body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(204,213,174);
    background: linear-gradient(90deg, rgba(204,213,174,1) 15%, rgba(233,237,201,1) 29%, rgba(254,250,224,1) 46%, rgba(250,237,205,1) 75%, rgba(212,163,115,1) 94%);   
}

.m1{margin: 0.5em;}
.m2{margin: 1em;}
.m3{margin: 1.5em;}
.m4{margin: 2em;}
.m5{margin: 3em;}

.area1{
    display: inline-block;
    width: 60%;
    height: 100%;
    margin: 3em 0 0 3em;

}

.textArea{
    font-size: 32px;
    width: 80%;
    height: 70%;
    font-weight: 200;
    line-height: 38px;
    border: none;
    color: rgba(3, 5, 3, 0.808);
    background: transparent;
}

#exclamacionImg{
    margin-right: 10px;
}

#botonEncriptar, #botonDesencriptar{
    width: 30%;
    height: 40px;
    border: none;
    margin: 20px 40px 0 60px;
    border-radius: 30px;
    font-size: 20px;
    transition: 1s;
}

#botonEncriptar{
    color: rgb(255, 255, 255);
    background-color: rgb(133, 118, 69);
}

#botonDesencriptar{
    color: rgb(0, 0, 0);
    background-color: rgb(174, 175, 100);
}

#botonEncriptar:hover{
    scale: 1.05;
    background-color: rgb(167, 148, 87);
}

#botonDesencriptar:hover{
    scale: 1.05;
    background-color: rgb(225, 226, 132);
}

.area2{
    margin: 3em 6em 0 0;
    /* display: inline-block; */
    float: right;
    width: 30%;
    text-align: center;
}

#copiar{
    text-align: center;
    width: 260px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    transition: 1s;
    margin: 2em 0 0 0;
    background-color:  rgb(235, 173, 111);
}

#copiar:hover{
    scale: 1.05;
    background-color: rgb(196, 143, 91);
}

.firma{
    text-align: center;
    margin: 10em 0 0 0; 
    font-size: small;
}

/* @media screen and (max-width: 970px;){

    .area2{
        position: relative;
    }
    
} */