/*{
    margin: 0;
    padding: 0;
}*/

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(230, 187, 108);
}

.row::after{
    display: table;
    width: 100%;
}



#textoArea :placeholder-shown{
    font-size: 18px;

}

.exclamacion{
    margin-right: 10px;
}